html, body {
	height: 100%;
	margin: 0;
}

.navbar-item img { max-height: none !important; }

.is-white { background-color: white; }
.is-list { list-style: disc; margin-left: 4%; }
.top { margin-top: 3%; }
.small-section { padding: 1rem 2rem; }

.skript-code { background-color: #f5f5f5; }

p, a { font-size: 17px; }

.wrap { flex-wrap: wrap; }
.developer-card { margin-bottom: 25px; }

.tag:not(body) { border-radius: 0px 0px 0px 4px !important; }
.footer { padding: 2rem 1.5rem 2rem !important; flex-grow: 1; }
.title:not(.is-spaced)+.subtitle { margin-top: 1.1428em !important; }