html, body {
	height: 100%;
	margin: 0;
}

/* Fix Cards size */
.card {
    display: flex;
    flex-direction: column;
	height: 100% !important;
}
.card-footer { margin-top: auto; }

/* Fix branding image size */
.navbar-item img { max-height: none !important; }

/* Fix default colors */
strong { color: unset !important; }
.subtitle { color: unset !important; }

/* Remove ugly top border */
.navbar-dropdown { border-top: none; }

/* Fix positions */
.title:not(.is-spaced)+.subtitle { margin-top: unset; }
.navbar-menu { padding: unset }
.navbar-burger { margin-left: unset; }

@media screen and (max-width: 1023px) {
	.navbar-menu.is-active {
		margin-right: -50px
	}
}

.is-list { list-style: disc; margin-left: 4%; }
.top { margin-top: 3%; }
.small-section { padding: 1rem 2rem; }

.skript-code { background-color: #f5f5f5; }

p, a { font-size: 17px; }

.developer-card { margin-bottom: 25px; }

.tag:not(body) { border-radius: 4px 4px 4px 4px !important; }
.footer { padding: 2rem 1.5rem 2rem !important; flex-grow: 1; }